{% extends "base.html.twig" %}

{% block title %}
    Course List            
{% endblock %}

{% block main %}

    <section>
        <header style="
            display:flex;
            justify-content: space-between;
            align-items:center;"
        >
            <h4>
                Listes de cours                
            </h4>
            <a href="/course/create">Poster un nouveau cour</a>
        </header>
        <body></body>

    </section>
{% endblock %}
