{% extends "base.html.twig" %}

{% block title %}
    Course List            
{% endblock %}

{% block main %}
    <section>
        <header style="
            display:flex;
            justify-content: space-between;
            align-items:center;"
        >
        <div>
            <h4>
                Listes de cours                
            </h4>
        </div>
            <a href="/course/create">Poster un nouveau cours</a>
        </header>
        <body>
            <ol>
                {% for course in courses %}
                    <li><a href="/course/{{ course.id }}"> {{ course.name }} </a></li>
                {% endfor %}
            <ol>
        </body>
    </section>
{% endblock %}
