{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}
{% block main %}
    <h4>
        Inscription
    </h4>

    {{ form(form) }}
            
    {% if errorMessage %}
        <p style="color:red">
            {{errorMessage}}
        </p>
    {% endif %}
{% endblock %}
