{% extends "base.html.twig" %}

{% block title %}
    login
{% endblock %}
{% block main %}
    <h4>
        Page de connexion
    </h4>

    {% if error %}
        <p style="color:red">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </p>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">
            Email:
        </label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">
            Mot de passe:
        </label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <button type="submit">
            Connexion
        </button>
    </form>
{% endblock %}
